* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-around;
    border: 2px solid blue;
    width: 50%;
    margin: 50px auto 30px auto;
    padding: 20px;
    border-radius: 10px;
}

.intro-wrapper {
    border: 2px solid blue;
    width: 50%;
    margin: auto;
    padding: 30px;
    border-radius: 10px
}

.start {
    text-align: center
}

.btn {
    width: 100%;
}

#start-btn {
    width: 100px;
}

